<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card__title">
          <h3>Опыт работы</h3>
          <a [routerLink]="['new']" class="btn btn__stroke btn__stroke_primary">Добавить новый</a>
        </div>
        <div class="card__content" *ngIf="workExperience">
          <div class="resume" *ngFor="let work of workExperience">
            <div class="resume__title">
              <h3>{{ work.position }}</h3>
            </div>
            <div class="resume__top-info">
              <div>с {{ work.dateFrom | date: 'MMM, y':null:'ru' }} по {{ work.dateTo | date: 'MMM, y':null:'ru' }} <span class="resume__sub-text">({{ [work.dateFrom, work.dateTo] | timeDifference }})</span></div>
              <div>{{ work.company }}, {{ work.city }}</div>
            </div>
            <div class="resume__info">
              <quill-view-html [content]="work.description"></quill-view-html>
            </div>
            <div class="resume__action">
              <a [routerLink]="['/dashboard', 'resume', 'work', 'edit', work.id]" class="btn__link btn__link_primary">Редактировать</a>
              <button (click)="onDeleteWorkExp(work.id)" type="button" class="btn__link btn__link_danger">Удалить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>