<div class="container" *ngIf="editProjectForm; else loader">
  <form class="row form" [formGroup]="editProjectForm">
    <div class="col-8">
      <div class="card">
        <div class="card__title">
          <h3>Редактировать проект</h3>
        </div>
        <div class="card__content">
          <div class="form__control">
            <input formControlName="titleControl" type="text" class="form__input" [ngClass]="{form__input_error: (title.dirty || title.touched) && title.invalid,  form__input_success: (title.dirty || title.touched) && title.valid}" placeholder="Название проекта">
            <div class="form__message form__message_error" *ngIf="(title.dirty || title.touched) && title.invalid">
              <span *ngIf="title.errors.required">Заголовок <strong>обязателен</strong></span>
            </div> 
          </div>
          <div class="form__control">
            <quill-editor formControlName="descriptionControl" [ngClass]="{editor_error: (description.dirty || description.touched) && description.invalid,  editor_success: (title.dirty || title.touched) && title.valid}"></quill-editor>
            <div class="form__message form__message_error" *ngIf="(description.dirty || description.touched) && description.invalid">
              <span *ngIf="description.errors.required">Опишите, пожалуйста, проект</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card__title">
          <h3>Информация</h3>
        </div>
        <div class="card__content">
          <div class="form__group">
            <label for="status" class="form__label">Статус</label>
            <select formControlName="statusControl" name="status" id="status" class="form__select">
              <option value="" selected disabled>Статус</option>
              <option value="В разработке">В разработке</option>
              <option value="Завершен">Завершен</option>
              <option value="Приостановлен">Приостановлен</option>
            </select>
          </div>
          <div class="form__group">
            <label for="category" class="form__label">Категория</label>
            <select #category formControlName="categoryControl" name="category" id="category" class="form__select">
              <option value="" selected disabled>Категория</option>
              <option value="Angular">Angular</option>
              <option value="HTML/CSS">HTML/CSS</option>
              <option value="NativeScript">NativeScript</option>
              <option value="JavaScript">JavaScript</option>
            </select>
          </div>
          <div class="form__group">
            <label for="date" class="form__label">Дата</label>
            <input formControlName="dateControl" type="date" id="date" class="form__input form__input_date">
          </div>
          <div class="form__group">
            <label for="repository" class="form__label">Ссылка на репозиторий</label>
            <input formControlName="repositoryControl" type="url" id="repository" class="form__input" placeholder="Ссылка на репозиторий">
          </div>
          <div class="form__group">
            <label for="url" class="form__label">Ссылка на проект</label>
            <input formControlName="urlControl" type="url" id="url" class="form__input" placeholder="Ссылка на проект">
          </div>
          <div class="card__action">
            <button type="submit" [disabled]="editProjectForm.invalid" class="btn btn__primary" (click)="editProject(project.id)">Обновить</button>
            <button type="button" class="btn__link btn__link_danger" (click)="removeProject(project.id)">Удалить</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card__title">
          <h3>Заставка</h3>
        </div>
        <div class="card__content">
          <app-file-upload (onSetThumbnail)="setThumbnail($event)" [currentImage]="project.thumbnail"></app-file-upload>
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
