<div class="storage">
  <div class="container">
    <div class="card">
      <button class="storage__close" (click)="close()">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.3955 7.59491L7.60349 12.3869" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.397 12.3898L7.60098 7.59277" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3345 0.750183H5.66549C2.64449 0.750183 0.750488 2.88918 0.750488 5.91618V14.0842C0.750488 17.1112 2.63549 19.2502 5.66549 19.2502H14.3335C17.3645 19.2502 19.2505 17.1112 19.2505 14.0842V5.91618C19.2505 2.88918 17.3645 0.750183 14.3345 0.750183Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>      
      </button>
      <div class="card__content">
        <div class="storage__library">
          <div class="storage__library-wrap" *ngIf="storageLib">
            <div class="storage__file" *ngFor="let image of storageLib">
              <img [attr.src]="image.url" alt="" (click)="showDetailInfo($event, image.url, image.metaData)">
            </div>
            <div class="storage__file">
              <label for="upload" class="storage__upload">
                <input id="upload" class="storage__upload-input" type="file" (change)="uploadImage($event.target.files)">
              </label>
            </div>
          </div>
          <ng-container *ngIf="detailImageInfo">
            <div class="storage__library-info">
              <h4>Параметры файла</h4>
              <div class="storage__detail-img">
                <img [attr.src]="detailImageInfo.url" alt="">
              </div>
              <div class="storage__detail-info">
                <div class="storage__detail-subtitle">Название файла:</div>
                <span>{{ detailImageInfo.name }}</span>
              </div>
              <div class="storage__detail-info">
                <div class="storage__detail-subtitle">Тип:</div>
                <span>{{ detailImageInfo.contentType }}</span>
              </div>
              <div class="storage__detail-info">
                <div class="storage__detail-subtitle">Размер:</div>
                <span>{{ detailImageInfo.size }} Б</span>
              </div>
              <div class="storage__detail-info">
                <div class="storage__detail-subtitle">Дата создания:</div>
                <span>{{ detailImageInfo.timeCreated | date: 'medium':null:'ru' }}</span>
              </div>
              <button type="button" class="btn__link btn__link_danger" (click)="deleteImage(detailImageInfo.fullPath)">Удалить</button>
              <div class="divider"></div>
              <form class="form storage__detail-form" [formGroup]="customMetaForm" (submit)="updateMeta(detailImageInfo.fullPath)">
                <div class="form__group">
                  <label for="url" class="form__label">URL</label>
                  <input type="url" id="url" class="form__input" formControlName="url">
                </div>
                <div class="form__group">
                  <label for="title" class="form__label">Заголовок</label>
                  <input type="title" id="title" class="form__input" formControlName="title">
                </div>
                <div class="form__group">
                  <label for="alt" class="form__label">Атрибут Alt</label>
                  <input type="alt" id="alt" class="form__input" formControlName="alt">
                </div>
                <button type="submit" class="btn btn__primary">Обновить</button>
              </form>
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="detailImageInfo">
          <div class="storage__footer">
            <button type="button" class="btn btn__primary" (click)="chooseImageURL(detailImageInfo)">Установить изображение</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>