.aside-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 255px;
  height: 100%;
  padding: 35px 30px;
  background: #363740;
  .aside-nav__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: rgba(164, 166, 179, .7);
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #3751FF;
  color: #DDE2FF;
  svg {
    width: 15px;
    fill: currentColor;
  }
}

.aside-menu {
  margin: 0 -30px;
  padding: 0;
  list-style: none;
  .aside-menu__link {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    text-decoration: none;
    transition: color .2s linear;
    svg {
      margin-right: 12px;
      fill: currentColor;
    }
    &_active {
      color: #DDE2FF;
      border-left: 3px solid #DDE2FF;
      background-color: rgba(159, 162, 180, .08);
    }
    &:hover {
      color: #DDE2FF;
    }
  }
  .aside-menu__link_active + &__dropdown-menu {
    display: block;
  }
  &__dropdown-menu {
    display: none;
    padding-left: 35px;
    .aside-menu__dropdown-menu__link {
      display: block;
      padding: 10px 30px 10px 0;
      text-decoration: none;
      color: #A4A6B3;
      &_active {
        color: #DDE2FF;
      }
      &:hover {
        color: #DDE2FF;
      }
    }
  }
}


.divider {
  height: 1px;
  margin: 15px -30px;
  background-color:rgba(223, 224, 235, .06);
}