<div class="d-flex justify-content-between">
  <a [routerLink]="['/dashboard', 'portfolio', 'project', 'new']" class="btn btn__primary">Создать новый</a>
  <form class="form form__search">
    <div class="form__control">
      <input type="search" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}" class="form__input" placeholder="Поиск...">
    </div>
  </form>
</div>
<div class="card" *ngIf="projects; else loader">
  <div class="card__title">
    <h3>Все проекты</h3>
  </div>
  <table class="table table_4cols">
    <thead class="table__head">
      <tr>
        <th class="table__col table__col_number">№</th>
        <th class="table__col">Заставка</th>
        <th class="table__col">Название</th>
        <th class="table__col">Дата</th>
        <th class="table__col">Статус</th>
        <th class="table__col"></th>
      </tr>
    </thead>
    <tbody class="table__body" *ngIf="projects">
      <tr *ngFor="let project of projects | searchProjects: searchString; let i = index">
        <td class="table__col  table__col_number">{{ i + 1 }}</td>
        <td class="table__col">
          <div class="table__image">
            <img [src]="project.thumbnail.url" [alt]="project.thumbnail.alt">
          </div>
        </td>
        <td class="table__col">
          <p class="text">{{ project.title }}</p>
          <span class="sub-text">{{ project.category }}</span>
        </td>
        <td class="table__col">{{ project.date | date: 'longDate':null:'ru'}}</td>
        <td class="table__col">
          <div class="badge" [ngClass]="{
            badge_primary: getDevelop(project.status),
            badge_success: getSuccess(project.status),
            badge_danger: getStop(project.status)
          }">{{ project.status }}</div>
        </td>
        <td class="table__col">
          <div class="table__action">
            <div class="dropdown">
              <button type="button" class="btn__more_vertical">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 8C13.1 8 14 7.1 14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10ZM12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18C14 16.9 13.1 16 12 16Z" fill="#C5C7CD"/>
                </svg>
              </button>
              <ul class="dropdown__menu">
                <li class="dropdown__item">
                  <a class="dropdown__link btn__link" [routerLink]="['/portfolio', 'project', project.id]">Открыть</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link btn__link btn__link_primary" [routerLink]="['/dashboard', 'portfolio', 'project', 'edit', project.id]">Редактировать</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link btn__link btn__link_danger" (click)="removeProject(project.id)">Удалить</a>
                </li>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>